In [14]:
import tensorflow as tf
import numpy as np
from tensorflow.keras.layers.experimental import preprocessing

dataset = tf.data.Dataset.from_tensor_slices([1, 2, 3])
dataset = dataset.map(lambda x: x*2) # map 안에는 function을 넣어서 iteration 하나당의 람다에 함수를 적용해줌
print(list(dataset.as_numpy_iterator()))
for data in dataset:
    print(data)

[2, 4, 6]
tf.Tensor(2, shape=(), dtype=int32)
tf.Tensor(4, shape=(), dtype=int32)
tf.Tensor(6, shape=(), dtype=int32)

In [15]:

data = np.array([[0.1, 0.2, 0.3], [0.8, 0.9, 1.0], [1.5, 1.6, 1.7],])
layer = preprocessing.Normalization()
layer.adapt(data)
normalized_data = layer(data)

print("Features mean: %.2f" % (normalized_data.numpy().mean()))
print("Features std: %.2f" % (normalized_data.numpy().std()))

Features mean: -0.00
Features std: 1.00

In [16]:
new_data  = np.array([[0.4, 0.5, 0.6], [0.7, 0.2, 1.7], [1.9, 0.3, 0.1],])
normalized_new_data = layer(new_data)

print("Features mean: %.2f" % (normalized_new_data.numpy().mean()))
print("Features std: %.2f" % (normalized_new_data.numpy().std()))

Features mean: -0.33
Features std: 1.10

In [17]:
import tensorflow as tf
# tensorflow 2.6.0이상
import numpy as np
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers

file_url = "http://storage.googleapis.com/download.tensorflow.org/data/heart.csv"
dataframe = pd.read_csv(file_url)

dataframe.shape
#(303, 14)

dataframe.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [18]:
val_dataframe = dataframe.sample(frac=0.2, random_state = 1337)
train_dataframe = dataframe.drop(val_dataframe.index)

def dataframe_to_dataset(dataframe):
    dataframe = dataframe.copy()
    labels = dataframe.pop('target')
    #print(dict(dataframe))
    #print(dict(dataframe)["age"])
    ds = tf.data.Dataset.from_tensor_slices((dict(dataframe), labels))
    ds = ds.shuffle(buffer_size = len(dataframe)) 
    ds = ds.batch(32)
    return ds

train_ds = dataframe_to_dataset(train_dataframe)
val_ds = dataframe_to_dataset(val_dataframe)

In [21]:
import pandas as pd
import numpy as np


df = pd.DataFrame(np.array(([1,2,3,4],[4,5,6,7],[10,11,12,7])),
                 index =['mouse','rabbit','lion'],
                 columns=['one','two','f_300','f_1'])

print(df)
# ^A : A를 제외한 어떠한 문자도 허용
#(?!...)
# Matches if ... doesn’t match next. 
# This is a negative lookahead assertion. 
# For example, Isaac (?!Asimov) will match 'Isaac ' only if it’s not followed by 'Asimov'.
# ab* will match ‘a’, ‘ab’, or ‘a’ followed by any number of ‘b’s.
# . In the default mode, this matches any character except a newline. 
# If the DOTALL flag has been specified, this matches any character including a newline.

df = df.filter(regex= r"^(?!f_).*") 

df = df.groupby("one").agg({"two": ["min", "max"]})

print(df)

        one  two  f_300  f_1
mouse     1    2      3    4
rabbit    4    5      6    7
lion     10   11     12    7
    two
    min max
one
1     2   2
4     5   5
10   11  11

In [2]:
import pandas as pd
df = pd.read_pickle(r"C:\Users\lab\Desktop\ubiquant-market-prediction\train.pkl")
print(df)

ValueError: unsupported pickle protocol: 5